<div class="info-container">
	<p *ngIf = "!game.lost">There are {{game.bombsCount}} bombs</p>
	<p *ngIf = "!game.lost" class="game-status">Game In Progress</p>
	<p *ngIf = "game.lost" class="game-status">Oops! You clicked on a mine. <a (click) = "game.initialize()">Click Here</a> to restart game</p>
</div>

<br>
<section *ngFor="let set of game.area; let y = index">
	<app-box
		*ngFor="let item of set; let x = index" 
		[x]="x" 
		[y]="y" 
		[checked]="item.checked"
		[hasBomb]="item.hasBomb"
		[neighbors]="item.neighbors"
	></app-box>
</section>
